apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-escalavel
  labels:
    app: app-escalavel
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app-escalavel
  template:
    metadata:
      labels:
        app: app-escalavel
        prometheus.io/scrape: "true"
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
        
        # verifica se ta pronto pra receber requisicao
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
          failureThreshold: 3
        
        # verifica se o container ta vivo, se nao tiver reinicia
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 3
        
        resources:
          requests:
            cpu: "100m"
            memory: "64Mi"
          limits:
            cpu: "250m"
            memory: "128Mi"
      
      restartPolicy: Always